@-webkit-keyframes planet-rotation {
  from {
    background-position: 0% 0%;
  }to{
    background-position: -200% 0%;
  }
}
@keyframes planet-rotation {
  from {
    background-position: 0% 0%;
  }to{
    background-position: -200% 0%;
  }
}
body {
  background-color: #101010;
  overflow: hidden;
}
.planet-image {
  width: 25vw;
  height: 25vw;
  max-width: 256px;
  max-height: 256px;
  border-radius: 50%;
  position: relative;
  background: #303030 url('/images/earth.png') repeat-x center center;
  background-size: cover;
  -webkit-animation: planet-rotation 15s linear infinite;
}
.planet-image:after {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  height: 100%;
  border-radius: 50%;
  background-image: -webkit-radial-gradient(16% 50%, 30% 50%, rgba(255,240,230,.001), transparent), -webkit-linear-gradient(left, rgba(255,240,220,0.1) 12%, rgba(255,240,220,0) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,1) 100%);
  background-image: -webkit-radial-gradient(16% 50%, 30% 50%, rgba(255,240,230,.001), transparent), -moz-linear-gradient(left, rgba(255,240,220,0.1) 12%, rgba(255,240,220,0) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,1) 100%);
  background-image: -webkit-radial-gradient(16% 50%, 30% 50%, rgba(255,240,230,.001), transparent), -o-linear-gradient(left, rgba(255,240,220,0.1) 12%, rgba(255,240,220,0) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,1) 100%);
  background-image: -webkit-radial-gradient(16% 50%, 30% 50%, rgba(255,240,230,.001), transparent), linear-gradient(to right, rgba(255,240,220,0.1) 12%, rgba(255,240,220,0) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,1) 100%),  linear-gradient(to left, rgba(0,0,0,0.1) 12%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,1) 100%);
  box-shadow: inset 10px 0 30px rgba(255,240,220,0.4);
}
.animated{
  animation-duration: 2s !important;
}
@keyframes particleAnimation{
  from {
    left: -100px;
  }to{
    left: calc( 100% + 100px );
  }
}
.p{
  position:fixed;
  left:0px;
  top:100px;
  width:1px;
  height:1px;
  color: white;
  position:fixed;
  animation-name:particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.p::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}  
.p-1{
  animation-duration:10s;
  top:20%;
}
.p-2{
  animation-duration:5s;
  top:60%;
}
.p-3{
  animation-duration:20s;
  top:90%;
}